# Dependencias
node_modules/
package-lock.json

# Archivos de entorno
.env
.env.local
.env.development
.env.test
.env.production

# Archivos de compilación
/dist
/build

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
